<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">
          <span class="menu-title">控制面板</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#elderly-management" aria-expanded="false" aria-controls="elderly-management">
          <span class="menu-title">长者管理</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="elderly-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/pages/elderly-management/elderly-member">成员列表</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/elderly-management/elderly-rights">长者权益</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/elderly-management/add-elderly">添加长者</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#nursing-management" aria-expanded="false" aria-controls="nursing-management">
          <span class="menu-title">护工管理</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
        <div class="collapse" id="nursing-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/pages/nursing-management/nurse-member">护工成员</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/nursing-management/nurse-information">护工信息</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/nursing-management/add-nurse">增添护工</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/nursing-management/task-arrangement">任务安排</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#permission-management" aria-expanded="false" aria-controls="permission-management">
          <span class="menu-title">权限管理</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
        <div class="collapse" id="permission-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/pages/permission-management/nurse-permission">护工权限</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/permission-management/child-permission">子女权限</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#cost-management" aria-expanded="false" aria-controls="cost-management">
          <span class="menu-title">费用管理</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
        <div class="collapse" id="cost-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/pages/cost-management/analysis-report">分析报告</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pages/cost-management/bill-management">账单管理</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/tables/basic-table.html">
          <span class="menu-title">系统报告</span>
          <i class="mdi mdi-table-large menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/tables/basic-table.html">
          <span class="menu-title">我的账户</span>
          <i class="mdi mdi-medical-bag menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/tables/basic-table.html">
          <span class="menu-title">系统设置</span>
          <i class="mdi mdi-medical-bag menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>
