{% extends 'base.html' %}
{% block title %}护工信息{% endblock title %}
{% block content %}
<style>
    .content {
        height: 75%;
        display: flex;
    }

    .introduction {
        width: 70%;
        height: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nurse {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }

    .name {
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .picture img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 20px 20px 20px 20%;
    }

    .tabs {
        overflow: hidden;
        margin-top: 20px;
    }

    .tabs button {
        background-color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tabs button:hover {
        background-color: #ddd;
    }

    .tabs button.active {
        border-bottom: 3px solid #FF8F6B;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        overflow-y: auto;
        font-size: 20px;
    }

    .time-info {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        margin-top: 20px;
    }

    .fa-clock-o {
        margin-right: 5px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .nav-button {
        cursor: pointer;
        color: #333;
        user-select: none;
    }

    .care-elderly {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        width: 20%;
        height: 100%;
        margin-left: 6%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .button {
        background-color: #ff7b72;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 20px 0;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #ff5745;
    }

    .carousel {
        position: relative;
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
    }

    .carousel-window {
        overflow: hidden;
        align-items: center;
        width: 100%;
    }

    .carousel-controls button {
        cursor: pointer;
        padding: 16px;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }

    .carousel-controls button:first-child {
        left: 0;
    }

    .carousel-controls button:last-child {
        right: 0;
    }

    .carousel-slides {
        display: flex;
        align-items: center;
    }

    .slide {
        width: 50%;
        box-sizing: border-box;
    }

    .slide-nurse {
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin-left: 10%;
        margin-right: 10%
    }
</style>
<script>
    // 页面加载时调用此函数
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        // 隐藏所有标签的内容
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // 移除所有标签的"active"类
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // 显示当前标签的内容，并添加"active"类
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    var loanTypes, reviews;
    let currentIndex = 0;
    const maxVisibleButtons = 6;
    const maxVisibleReviews = 2;

    function get_elderly() {
        let id = document.getElementById('id_name').innerText.split('-')[0];
        let name = document.getElementById('id_name').innerText.split('-')[1];
        $.ajax({
            url: '/nurse-management/get_elderly',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                id: id,
                name: name
            }),
            success: function (response) {
                if (response.success) {
                    loanTypes = response.care_elderly;
                    generateButtons();
                }
            },
            error: function () {
                alert('请求失败')
            }
        });
    }

    function get_nurses() {
        $.ajax({
            url: '/nurse-management/get_nurses',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({}),
            success: function (response) {
                if (response.success) {
                    reviews = response.nurses;
                    setupCarousel();
                }
            },
        });
    }

    // 动态生成按钮并插入到.buttons容器中
    function generateButtons() {
        const buttonsContainer = document.querySelector('.elderly');
        buttonsContainer.innerHTML = '';
        for (let i = 0; i < maxVisibleButtons; i++) {
            let buttonIndex = currentIndex + i;
            if (buttonIndex < loanTypes.length) {
                let button = document.createElement('div');
                button.className = 'button';
                button.textContent = `${loanTypes[buttonIndex].name} ${loanTypes[buttonIndex].room}`;
                buttonsContainer.appendChild(button);
            }
        }
    }

    function scrollButtons(direction) {
        if (direction === 'left') {
            currentIndex = Math.max(0, currentIndex - maxVisibleButtons);
        } else {
            currentIndex = Math.min(loanTypes.length - maxVisibleButtons, currentIndex + maxVisibleButtons);
        }
        generateButtons();
    }

    function update_nurse(info) {
        document.getElementById('id_name').innerText = info.id_name;
        document.getElementById('experience').innerText = info.experience;
        document.getElementById('skills').innerText = info.skills;
        document.getElementById('contact').innerText = info.contact;
        document.getElementById('img').src = info.image;
        get_elderly();
        document.getElementById("defaultOpen").click();
    }

    function setupCarousel() {
        const slidesContainer = document.querySelector('.carousel-slides');
        slidesContainer.innerHTML = '';
        for (let i = 0; i < maxVisibleReviews; i++) {
            let reviewIndex = currentIndex + i;
            if (reviewIndex < reviews.length) {
                const review = reviews[reviewIndex];
                const slide = document.createElement('div');
                slide.className = 'slide';
                // 创建img元素
                const img = document.createElement('img');
                img.src = review.image;
                img.alt = review.id_name;
                img.style = 'border-radius: 10px; width: 100px; height: 100px';
                // 创建包含文本的div元素
                const textDiv = document.createElement('div');
                textDiv.className = 'slide-text';
                textDiv.style = 'margin-left: 20px';
                textDiv.innerHTML = `<h3>${review.id_name}</h3><p>${review.experience}</p>`;
                // 将img和文本div添加到slide-nurse div中
                const nurseDiv = document.createElement('div');
                nurseDiv.className = 'slide-nurse';
                nurseDiv.appendChild(img);
                nurseDiv.appendChild(textDiv);
                nurseDiv.addEventListener('click', function () {
                    update_nurse(review);
                });
                // 将整个slide-nurse div添加到slide中
                slide.appendChild(nurseDiv);

                // 将slide添加到幻灯片容器中
                slidesContainer.appendChild(slide);
            }
        }
    }

    function moveSlides(direction) {
        if (direction === 'left') {
            currentIndex = Math.max(0, currentIndex - maxVisibleReviews);
        } else {
            currentIndex = Math.min(reviews.length - maxVisibleReviews, currentIndex + maxVisibleReviews);
        }
        setupCarousel();
    }

    document.addEventListener('DOMContentLoaded', function () {
        get_elderly();
        document.getElementById("defaultOpen").click();
        get_nurses();
    });
</script>
<div class="content-wrapper">
    <div style="font-size: 25px; margin-bottom: 15px">护工信息</div>
    <div class="content">
        <div class="introduction">
            <div class="nurse">
                <div class="picture">
                    <img src="{{ image }}" id="img" alt="头像照">
                </div>
                <div class="name" id="id_name">{{ id_name }}</div>
            </div>
            <div class="tabs">
                <button class="tab" id="defaultOpen" onclick="openTab(event, 'experience')">经历</button>
                <button class="tab" onclick="openTab(event, 'skills')">能力</button>
                <button class="tab" onclick="openTab(event, 'contact')">联系方式</button>
            </div>
            <div id="experience" class="tabcontent">
                {{ experience }}
            </div>
            <div id="skills" class="tabcontent">
                {{ skills }}
            </div>
            <div id="contact" class="tabcontent">
                {{ contact }}
            </div>
        </div>
        <div class="care-elderly">
            <div style="font-size: 20px; text-align: center; margin-top: 20px">负责长者</div>
            <div class="elderly">
            </div>
            <div class="time-info">
                <i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 AM - 12:00 PM
            </div>
            <div class="navigation">
                <span class="nav-button" onclick="scrollButtons('left')">&lt;</span>
                <span class="nav-button" onclick="scrollButtons('right')">&gt;</span>
            </div>
        </div>
    </div>
    <div class="carousel">
        <div class="carousel-controls">
            <button onclick="moveSlides('left')">&#10094;</button>
            <button onclick="moveSlides('right')">&#10095;</button>
        </div>
        <div class="carousel-window">
            <div class="carousel-slides">
                <!-- 滑块将通过JavaScript动态生成 -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
