{% extends 'base.html' %}
{% block title %}护工成员{% endblock title %}
{% block content %}
<div class="content-wrapper">
    <div style="font-size: 25px; margin-bottom: 15px">护工管理</div>
    <div class="card">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <input type="checkbox" id="checkAll"> <!-- 添加全选勾选框 -->
              </th>
              <th>ID</th>
              <th>护工姓名</th>
              <th>年龄</th>
              <th>性别</th>
              <th>部门</th>
              <th>电话号码</th>
              <th>地址</th>
            </tr>
          </thead>
          <tbody>
              {% for result in results%}
                  <tr><!--保证每条记录换行-->
                      <td>
                        <input type="checkbox" class="checkItem"> <!-- 在每行添加勾选框 -->
                      </td>
                      <td>{{ result[0] }}</td>
                      <td>{{ result[1] }}</td>
                      <td>{{ result[2] }}</td>
                      <td>{{ result[3] }}</td>
                      <td>{{ result[4] }}</td>
                      <td>{{ result[5] }}</td>
                      <td>{{ result[6] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    </div>
    <!-- 分页控件的 HTML 结构 -->
    <div class="pagination-container">
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#">上一页</a>
    </li>

    <!-- 示例页数 -->
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <!-- ... -->

    <li class="page-item">
      <a class="page-link" href="#">下一页</a>
    </li>
  </ul>
</nav>
</div>
</div>
<script src="{{ url_for('static', filename='assets/js/TableCheckboxController.js') }}"></script>
{% endblock content %}