{% extends 'base.html' %}
{% block title %}账户信息{% endblock title %}
{% block content%}

<style>
    /* 去除所有a标签下划线 */
    a {
        text-decoration: none;
    }

    /* 设置外层wrapper宽高、背景验证、水平居中、相对定位 */
    .wrapper {
        position: relative;
        width: 100%;
        height: 700px;
        background-color: white;
        margin: 0 auto;
        border-radius: 20px;
    }

    /* 设置内层div相对于父级绝对定位，默认隐藏 */
    .wrapper div {
        display: none;
        position: absolute;
        top: 50px;
    }

    /* 设置menu宽高、行内块、文本居中、行高、字体大小、字体颜色 */
    .menu2 {
        width: 15%;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        font-weight: bolder;
        color: #bea8be;
    }

    .menu1 {
        width: 15%;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        font-weight: bolder;
        color: #bea8be;
        border-top-left-radius: 20px;
    }

    .menu1:hover {
        background-color: #FFBB98;
        color: white;
    }

    .menu2:hover {
        background-color: #FFBB98;
        color: white;
    }

    /* 默认所有radio隐藏 */
    input[type="radio"] {
        display: none;
    }

    /* 被选中的radio下的label下的div显示 */
    input[type="radio"]:checked+label+div {
        display: block;
    }

    /* 被选中的radio下的label背景颜色改为红色 */
    input[type="radio"]:checked+label {
        background-color: #FFBB98;
        color: white;
    }

    /* 隐私设置界面css */
    .privacy {
        width: 100%;

        hr {
            margin-top: 0;
        }
    }

    /* 修改密码界面css */
    .password {
        width: 100%;

        hr {
            margin-top: 0;
        }

        .accountForm {
            float: left;
            margin-left: 10%;
            margin-top: 20px;
        }

        .account {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .button {
            margin-top: 350px;
            margin-left: 50%;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 20px;
            display: block;
            width: 500px;
            height: 30px;
            border: none;
            border-bottom: 1px solid gray;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    /* 养老院账户界面css */
    .information {
        width: 100%;

        .accountForm {
            float: left;
            margin-left: 10%;
            margin-top: 20px;
        }

        .account {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .button {
            margin-top: 300px;
            margin-left: 70%;
        }

        h1 {
            margin-left: 35%;
        }

        hr {
            margin-top: 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 20px;
            display: block;
            width: 500px;
            height: 30px;
            border: none;
            border-bottom: 1px solid gray;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
        }

    }

    input[type="submit"] {
        width: 100px;
        height: 50px;
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<script>
    document.getElementById("accountForm").addEventListener("submit", function (event) {
        event.preventDefault(); // 阻止表单的默认提交行为  
        var accountName = document.getElementById("accountName").value;
        var accountBalance = document.getElementById("accountBalance").value;
        var address = document.getElementById("address").value;
        var contact = document.getElementById("contact").value;
        console.log("账户名称:", accountName);
        console.log("账户余额:", accountBalance);
        console.log("养老院地址:", address);
        console.log("联系方式:", contact);
        // 在这里可以添加更新账户的逻辑，例如发送异步请求到服务器更新数据。  
    });  
</script>
<div class="content-wrapper">
    <div style="font-size: 25px; margin-bottom: 15px">我的账户</div>
    <div class="wrapper">
        <input type="radio" name="gender" id="bro1" checked />
        <label for="bro1" class="menu1">养老院账户</label>
        <div class="information">
            <hr>
            <h1>养老院账户信息</h1>
            <form class="accountForm">
                <label for="accountName" class="account">账户名称:</label>
                <input type="text" id="accountName" placeholder="请输入账户名称" required>

                <label for="accountBalance" class="account">账户余额:</label>
                <input type="number" id="accountBalance" placeholder="请输入账户余额" required>
            </form>
            <form class="accountForm">
                <label for="address" class="account">养老院地址:</label>
                <input type="text" id="address" placeholder="请输入养老院地址" required>

                <label for="contact" class="account">联系方式:</label>
                <input type="text" id="contact" placeholder="请输入联系方式" required>
            </form>
            <input type="submit" value="更新账户" class="button">
        </div>


        <input type="radio" name="gender" id="bro2" />
        <label for="bro2" class="menu2">修改密码</label>
        <div class="password">
            <hr>
            <form class="accountForm">
                <label for="password" class="account">原密码:</label>
                <input type="text" id="password" placeholder="请输入账户原密码" required>

                <label for="code" class="account">修改密码:</label>
                <input type="text" id="code" placeholder="请输入修改后的密码" required>

                <label for="confirm" class="account">再次输入进行确认:</label>
                <input type="text" id="confirm" placeholder="请再次确认您修改后的密码" required>
            </form>
            <input type="submit" value="确认更改" class="button">
        </div>

        <input type="radio" name="gender" id="bro3" />
        <label for="bro3" class="menu2">隐私设置</label>
        <div class="privacy">
            <hr>
        </div>
    </div>
</div>
{% endblock content %}