<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{title|default}}{% endblock title %}</title>
        <!-- plugins:css -->
        {%- block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}">
            <!-- endinject -->
            <!-- Plugin css for this page -->
            <!-- End plugin css for this page -->
            <!-- inject:css -->
            <!-- endinject -->
            <!-- Layout styles -->
            <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
            <!-- End layout styles -->
            <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" />
            <script src="{{ url_for('static', filename='assets/vendors/js/jquery.min.js') }}"></script>
            <style>
                .navbar, .sidebar{
                    background-color: #FFFFFF;
                }
            </style>
         {%- endblock styles %}
     {%- endblock head %}
  </head>
<body>
    <div class="container-scroller">
        {%block navbar%}
            {% include 'partials/_navbar.html' %}
        {%endblock navbar%}

        <div class="container-fluid page-body-wrapper">
            {% block sidebar %}
                {% include 'partials/_sidebar.html' %}
            {% endblock sidebar %}

            <div class="main-panel">
                {% block content %}
                {% endblock content %}

                {% block footer %}
                    {% include 'partials/_footer.html' %}
                {% endblock footer %}
            </div>
        </div>
    </div>

    {% block scripts %}
      <!-- plugins:js -->
      <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="{{ url_for('static', filename='assets/vendors/chart.js/Chart.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.cookie.js') }}" type="text/javascript"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/todolist.js') }}"></script>
      <!-- End custom js for this page -->
    {% endblock scripts %}

</body>

</html>

